{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "semi": [2, "never"],
    "import/no-extraneous-dependencies": "off",
    "object-curly-newline": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "react/destructuring-assignment": "off",
    "import/prefer-default-export": "off",
    "global-require": "off",
    "react/no-danger": "off",
    "new-cap": "off",
    "react/jsx-filename-extension": "off",
    "max-len": ["error", 120],
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": "off"
  }
}